*{color:#000;font-family:Consolas;border:0;padding:5px 2px 5px 2px;background:rgba(230,230,230,.8)}QLabel#title{font-size:15px}QLabel#subscreen{font-size:20px;padding-right:5px}QLabel#screen{font-size:25px;border-bottom:1px solid #e6e6e6}QPushButton.subkeyboard{font-size:16px}QPushButton.keyboard{font-size:24px}QPushButton.keyboard:hover,QPushButton.subkeyboard:hover{background:#e6e6e6}QPushButton#close{background:rgba(247,188,196,.8);font-size:15px}QPushButton#close:hover{background:#f7bcc4}
